.head__ban__help{
  background-image: url(../images/banniereHelp.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.choice{
  display: flex;
  background-color: $fondSection;
  padding: 0 7%;
  align-items: center;
  margin: 9em 0;
}

.choice__img{
  display: flex;
  flex-direction: column;
  margin: -2em 0;
}

.choice__img img{
  width: 505px;
  position: relative;

}


.choice__img a:hover{
  transform: translateX(-20px);
  transition: 0.4s;
}

.choice__img a:first-of-type{
  position: relative;
  top: -25px;
}

.choice__img a:last-of-type {
  position: relative;
  bottom: -25px;
}

.choice__title{
  @include h2;
  margin-bottom: 2.827rem;
}



.choice__infos{
  margin: 2em auto 2em 8%;
}

.choice__desc{
  font-size: 1.414rem;
  width: 400px;
  line-height: 1.5;
  margin-bottom: 2.827rem;
}

.choice__change{
  margin-top: 2.827rem;
  text-align: right;


}

.choice__change a{
  width: 50px;

}

.choice__change a:first-of-type{
  margin-right: 20px;
}

.redirect{
  width: 66.1290312%;
  margin: 10rem auto 5rem;
  text-align: center;
  line-height: 1.5;

}

.redirect__desc{
  font-size: 1.414rem;

}

.redirect__desc:after{
  @include after;
  display: block;
  transform: rotate(90deg);
  margin: 2em auto;
  width: 30px;
  position: relative;
  left: -2px;
}

.redirect__link{
  margin: -2em 0 1em;
}

.redirect:before, .redirect:after{
  @include after;
  display: block;
  transform: rotate(90deg);
  margin: 4em auto;
  width: 100px;
  position: relative;
  left: -2px;

}

.reverse{
  flex-direction: row-reverse;
}

.reverse .choice__img a:hover{
  transform: translateX(20px);
  transition: 0.4s;
}

.reverse .choice__infos{
  margin: 2em 8% 2em auto;
  text-align: right;
}